:root {
    margin: 0;
    padding: 0;
}

body {
    padding: 0px;
    margin: 0px;
    display: grid;
    grid-template-columns: 2fr 7fr;
    grid-template-rows: 3fr 15fr;
    background-color: aqua;
}

div.header {
    background-color: white;
    grid-column: 2 / -1;
    grid-row: 1 / 2;
}

div.sidebar {
    background-color: rgb(25 146 212);
    grid-column: 1 / 2;
    grid-row: 1 / -1;
}

div.main {
    background-color: rgb(226 232 240);
    box-shadow: inset -20px 10px 20px 8px rgb(117, 117, 117, 20%);
    grid-column: 2 / -1;
    grid-row: 2 / -1;
}

button {
    background-color: rgb(25 146 212);
    color: white;
    border: none;
}

img {
    height: 10px;
}