:root {
    margin: 0;
    padding: 0;
}

body {
    padding: 0px;
    margin: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: aqua;
    height: 100vh;
}

div.header {
    background-color: white;
    grid-column: 1 / 2;
    grid-row: 1 / -1;
}

div.sidebar {
    background-color: rgb(25 146 212);
}

div.main {
    background-color: rgb(226 232 240);
    box-shadow: inset -20px 10px 20px 8px rgb(117, 117, 117, 20%);
}

button {
    background-color: rgb(25 146 212);
    color: white;
    border: none;
}